<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="add-style">
    <link rel="stylesheet" href="css/lacak.css">
    <style>
        .row {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    </style>
</th:block>

<!-- JUMBOTRON -->
<div class="row card-row" layout:fragment="content-jumbotron">
    <h1 class="display-4">Search</h1>
</div>

<div class="row card-row" layout:fragment="content-body">
    <div class="container">
        <!--  navigasi  -->
        <div class="search-by">
            <div class="lacak-paket">
                Lacak Paket
            </div>
            <div class="cek-tarif">
                Cek Tarif
            </div>
        </div>

        <!--  lacakPaket dan cekOngkir  -->
        <div class="container container-form">
            <div class="form-lacak-paket">
                <!-- search -->
                <div class="row">
                    <div class="col-md-12 search">
                        <input type="text" name="resi" id="resi" placeholder="masukkan nomor resi">
                        <i class="fa fa-trash hapus"></i>
                    </div>
                    <div class="col-md-12 tombol-search">
                        <button class="btn btn-primary cari-resi">Cari</button>
                    </div>
                </div>
                <div class="row gambar-lacak">
                    <div class="col-md-12 col-gambar-lacak">
                        <img src="img/lacak.jpg" alt="lacak">
                    </div>
                </div>
                <div class="table-resi">
                    <div class="table-responsive">
                        <table class="table table-1">
                            <thead>
                            <tr>
                                <th scope="col">Resi</th>
                                <th scope="col">Tanggal Order</th>
                                <th scope="col">Layanan</th>
                                <th scope="col">Asal</th>
                                <th scope="col">Tujuan</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="resi">-</td>
                                <td class="tgl">-</td>
                                <td class="layanan">-</td>
                                <td class="asal">-</td>
                                <td class="tujuan">-</td>
                                <td class="status">-</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-2">
                            <thead>
                            <tr>
                                <th scope="col">Kurir</th>
                                <th scope="col">Penerima</th>
                                <th scope="col">Tanggal Sampai</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="kurir">-</td>
                                <td class="penerima">-</td>
                                <td class="tglSampai">-</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-cek-tarif">
                <div class="container container-col-form">
                    <div class="col-form">
                        <div class="row input-data-lacak">
                            <div class="col-md-4 text-naik asal-paket">
                                <div style="position: relative">
                                    <input class="asal" title="asal" id="asal" type="text">
                                    <span data-placeholder="Dari"></span>
                                    <div id="kotaList"></div>
                                    <input type="hidden" id="asalHidden">
                                </div>
                            </div>
                            <div class="col-md-4 text-naik tujuan-paket">
                                <div style="position: relative">
                                    <input id="tujuan" type="text">
                                    <span data-placeholder="Ke"></span>
                                    <div id="kotaList2"></div>
                                    <input type="hidden" id="tujuanHidden">
                                </div>
                            </div>
                            <div class="col-md-4 text-naik berat-paket">
                                <div style="position: relative" class="div-berat">
                                    <input id="berat" type="text">
                                    <span data-placeholder="Berat (kg)"></span>
                                    <i class="fa fa-plus-circle"></i>
                                    <i class="fa fa-minus-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="btn-cek-tarif">
                            <button class="btn btn-primary cari-layanan">Cari</button>
                        </div>
                        <div class="table-ongkir">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Layanan</th>
                                        <th scope="col">Berat</th>
                                        <th scope="col">Estimasi</th>
                                        <th scope="col">Biaya Kirim</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-cek-tarif">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal error -->
    <div class="row-alert">
        <div class="alert">
            <span class="emot"><i class="fa fa-frown"></i></span>
            <span class="error-massage">Resi tidak ditemukan</span>
        </div>
    </div>

    <!-- modal loading -->
    <div class="row-loading">
        <div class="loading">
            <div class="circle"></div>
        </div>
    </div>

</div>

<th:block layout:fragment="add-script">
    <script th:src="@{/js/default.js}"></script>
    <script th:src="@{/js/parsley.min.js}"></script>
    <script th:src="@{/js/login.js}"></script>
    <script th:src="@{/js/lacak.js}"></script>

    <!-- action request -->
    <script>
        //CEK-RESI
        // cari
        $('.tombol-search').click(function () {
            let resi = $('#resi').val()
            cekResi(resi);
        })

        //CEK-HARGA
        //request kota raja ongkir
        $(document).ready(function (){
            requestKota();
        })
        //cari-layanan
        $('.cari-layanan').click(function () {
            if($('#asalHidden').val() == "") {
                $('.emot').hide()
                $('.error-massage').text("isi kota asal")
                alertError()
            } else if ($('#tujuanHidden').val() == "") {
                $('.emot').hide()
                $('.error-massage').text("isi kota tujuan")
                alertError()
            } else if ($('#berat').val() == "") {
                $('.emot').hide()
                $('.error-massage').text("isi berat barang")
                alertError()
            } else if ($('#berat').val() <= 0){
                $('.emot').hide()
                $('.error-massage').text("Minimum berat 0.1 kg")
                alertError()
            } else if ($('#berat').val() > 30) {
                $('.emot').hide()
                $('.error-massage').text("Maksimum berat 30 kg")
                alertError()
            } else if ($('#asal').val() == "") {
                $('#asalHidden').val("")
            } else if ($('#tujuan').val() == ""){
                $('#tujuanHidden').val("")
            } else {
                let asal = $('#asalHidden').val()
                let tujuan = $('#tujuanHidden').val()
                let berat = $('#berat').val()*1000
                cekOngkir(asal, tujuan, berat)
            }
        })
    </script>

    <!-- action component -->
    <script>
        // auto go to middle after load page
        $(document).ready(function () {
            $('html, body').animate({
                scrollTop: $('#content-body').offset().top - 20
            }, 1600, 'easeOutCubic');
        });

        //alert pesan error
        function alertError() {
            $('.row-alert').fadeIn('slow').delay(500);
            $('.row-alert').fadeIn('slow').delay(500).fadeOut('slow');
        }


        //CEK-RESI
        //pilih menu lacak atau cek tarif
        $('.cek-tarif').click(function () {
            $(this).css({
                'background-color' : 'rgba(30, 171, 255, 1)',
                'color' : '#fff'
            })
            $('.lacak-paket').css({
                'background-color' : '#ececec',
                'color' : '#333'
            })
            $('.form-cek-tarif').css('display', 'block')
            $('.form-lacak-paket').css('display', 'none')
            $('.container-form').css({
                'padding-bottom': '50px',
                'border-radius': '5px',
                'box-shadow': '0 2px 12px 2px #ddd'
            })
        })
        $('.lacak-paket').click(function () {
            $(this).css({
                'background-color' : 'rgba(30, 171, 255, 1)',
                'color' : '#fff'
            })
            $('.cek-tarif').css({
                'background-color' : '#ececec',
                'color' : '#333'
            })
            $('.form-lacak-paket').css('display', 'block')
            $('.form-cek-tarif').css('display', 'none')
            $('.container-form').css({
                'padding-bottom': 0,
                'border-radius': 0,
                'box-shadow': 'none'
            })
        })
        //hapus search
        $('.hapus').click(function () {
            $('#resi').val("")
            $('.gambar-lacak').css('display', 'block')
            $('.table-resi').css('display', 'none')
        })


        //CEK-HARGA
        //text-naik
        $(".text-naik input").on("focus",function(){
            $(this).addClass("focus");
        });
        $(".text-naik input").on("blur",function(){
            if($(this).val() == "")
                $(this).removeClass("focus");
        });

        //asal-tujuan paket
        //close dropdown kota
        $(document).click(function() {
            $('#kotaList').hide();
            $('#kotaList2').hide();
        });
        //hack close dropdown on input click
        $('.asal-paket input, .tujuan-paket input').click(function(event) {
            event.stopPropagation();
        });
        //show dropdown
        $('.asal-paket input').on("focus", function () {
            $('#kotaList').show()
            $('#kotaList2').hide()
        })
        $('.tujuan-paket input').on("focus", function () {
            $('#kotaList2').show()
            $('#kotaList').hide()
        })
        //search dropdown
        $('.text-naik input').keyup(function(){
            search_table($(this).val());
        });
        function search_table(value){
            $('.pilihKota').each(function() {
                var found = 'false';
                $(this).each(function() {
                    if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0) {
                        found = 'true';
                    }
                });
                if(found == 'true') {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }

        //berat-paket
        //nambah-kurang
        $('.fa-plus-circle').click(function () {
            $('.berat-paket input').addClass('focus')
            var value = parseInt(document.getElementById('berat').value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            document.getElementById('berat').value = value;
        })
        $('.fa-minus-circle').click(function () {
            $('.berat-paket input').addClass('focus')
            var value = parseInt(document.getElementById('berat').value, 10);
            value = isNaN(value) ? 0 : value;
            value--;
            if (value >= 0) {
                document.getElementById('berat').value = value;
            } else  {
                document.getElementById('berat').value = 0;
            }
        })

    </script>

</th:block>