<!DOCTYPE html>
<html layout:decorate="~{base2}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="add-style">
    <!--    LETAK STYLE CSS-->
    <link rel="stylesheet" href="css/larangan.css">
</th:block>

<!-- JUMBOTRON -->
<div class="row card-row" layout:fragment="content-jumbotron">
    <h1 class="display-4">Barang Berbahaya</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
</div>

<div class="row card-row" layout:fragment="content-body">
    <!--LETAK KONTEN DISINIIII-->
    <div class="container">
        <div class="row">
                <div class="bodynya row">
                    <div class="containersatu">
<!--                        <div class="col-lg-2">-->
                            <div class="box">
                                <div class="imgBox">
                                    <img src="/img/larangan9.jpg">
                                </div>
                                <div class="details">
                                    <div class="content">
                                        <h2>Organs</h2>
                                        <p>Variuos goods that can harm health,
                                            like animal bones or other limbs,
                                            animal organs, unproccesed animal skins,
                                            and animal bones without or before safely
                                            process</p>
                                    </div>
                                </div>
                            </div>
<!--                        </div>-->
<!--                        <div class="col-lg-2">-->
                            <div class="box">
                                <div class="imgBox">
                                    <img src="/img/larangan1.jpg">
                                </div>
                                <div class="details">
                                    <div class="content">
                                        <h2>Firearms</h2>
                                        <p>All kinds of ammunitions, firearms,
                                            bullets, grenades, bombs, etc</p>
                                    </div>
                                </div>
                            </div>
<!--                        </div>-->
<!--                        <div class="col-lg-2">-->
                            <div class="box">
                                <div class="imgBox">
                                    <img src="/img/larangan2.jpg">
                                </div>
                                <div class="details">
                                    <div class="content">
                                        <h2>Chemical</h2>
                                        <p>All kinds of corrosive materials like
                                            sulfuric acid, hydrochloric acid,
                                            nitric acid, organic solvents, pesticide,
                                            hydrogen peroxide, and other hazardous
                                            chemicals</p>
                                    </div>
                                </div>
                            </div>
<!--                        </div>-->
<!--                        <div class="col-lg-2">-->
                            <div class="box">
                                <div class="imgBox">
                                    <img src="/img/larangan3.jpg">
                                </div>
                                <div class="details">
                                    <div class="content">
                                        <h2>Drugs</h2>
                                        <p>All kinds of narcotic drugs like, opium
                                            (including flowers, sprout and opium
                                            leaf), morn, cocaine, heroin, marijuana,
                                            methamphetamine, ephedrine, and other
                                            related products</p>
                                    </div>
                                </div>
                            </div>
<!--                        </div>-->
<!--                        <div class="col-lg-2">-->
<!--                            <div class="box">-->
<!--                                <div class="imgBox">-->
<!--                                    <img src="/img/larangan4.jpg">-->
<!--                                </div>-->
<!--                                <div class="details">-->
<!--                                    <div class="content">-->
<!--                                        <h2>Inappropirate Packaging Material</h2>-->
<!--                                        <p>Goods with inappropriate packaging,-->
<!--                                            which can endanger, caused pollution,-->
<!--                                            or goods that can pollute partial or-->
<!--                                            total part of other shipment</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
<!--                    <div class="bodynya row">-->
                        <div class="containersatu">
<!--                            <div class="col-lg-2">-->
                                <div class="box">
                                    <div class="imgBox">
                                        <img src="/img/larangan5.jpg">
                                    </div>
                                    <div class="details">
                                        <div class="content">
                                            <h2>Prohibited by Law</h2>
                                            <p>Goods that are prohibited to be
                                                circulated according to laws and
                                                regulation of country like, document,
                                                state secret information, currency,
                                                counterfeit money, all kinds of
                                                securities paper, replica weapons,
                                                sharp weapon, art goods, rare animals
                                                and finished product</p>
                                        </div>
                                    </div>
                                </div>
<!--                            </div>-->
<!--                            <div class="col-lg-2">-->
                                <div class="box">
                                    <div class="imgBox">
                                        <img src="/img/larangan6.jpg">
                                    </div>
                                    <div class="details">
                                        <div class="content">
                                            <h2>Radioactive</h2>
                                            <p>Various types of radioactive elements
                                                and its depository like uranium,
                                                cobalt, radium and plutonium</p>
                                        </div>
                                    </div>
                                </div>
<!--                            </div>-->
<!--                            <div class="col-lg-2">-->
                                <div class="box">
                                    <div class="imgBox">
                                        <img src="/img/larangan7.jpg">
                                    </div>
                                    <div class="details">
                                        <div class="content">
                                            <h2>Flammable</h2>
                                            <p>All kinds of flammable material, including
                                                liquid, gas and solid chemistry. Like gasoline,
                                                kerosene, alcohol, varnish, diesel fuel,
                                                aerosol/ spray tube, lighters, gas holder,
                                                phosphorus, sulfur, matches, etc</p>
                                        </div>
                                    </div>
                                </div>
<!--                            </div>-->
<!--                            <div class="col-lg-2">-->
                                <div class="box">
                                    <div class="imgBox">
                                        <img src="/img/larangan8.jpg">
                                    </div>
                                    <div class="details">
                                        <div class="content">
                                            <h2>Explosive Materials</h2>
                                            <p>Easily explosive materials like explosive
                                                materials & detonator, gunpowder, firecrackers, etc</p>
                                        </div>
                                    </div>
                                </div>
<!--                            </div>-->
<!--                            <div class="col-lg-2">-->
<!--                                <div class="box">-->
<!--                                    <div class="imgBox">-->
<!--                                        <img src="/img/larangan10.jpg">-->
<!--                                    </div>-->
<!--                                    <div class="details">-->
<!--                                        <div class="content">-->
<!--                                            <h2>Propaganda Material</h2>-->
<!--                                            <p>Goods that endanger national security and-->
<!--                                                stability of publication for social and-->
<!--                                                political like, propaganda materials and-->
<!--                                                its printing materials etc</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
<!--                    </div>-->
                </div>
        </div>
    </div>

</div>

<th:block layout:fragment="add-script">
    <!--LETAK SCRIPT DISINII-->
    <!--JS ISI-->
    <script th:src="@{/js/default.js}"></script>
    <script th:src="@{/js/parsley.min.js}"></script>
    <script th:src="@{/js/login.js}"></script>
    <!--    <script th:src="@{/js/kurir.js}"></script>     SKRIP AJAX    -->

</th:block>