<!-- footer -->
<footer>
    <div class="footer-container">
        <div class="skew-box">
            <div class="logo">

            </div>
            <div class="alamat-kantor">
                <p class="kantor">Kantor Pusat</p>
                <p>Jl. l. Kerinci XII No.7</p>
                <p>Kota Jakarta Selatan</p>
                <p>Daerah Khusus Ibukota Jakarta 12120</p><br>
                <br><p>Contact center. (62-21) 2927 8888</p>
                <p>Office. (62-21) 566 5262</p>
                <p>Fax. (62-21) 567 1413</p>
                <p>Email. yfaexpress@yfa.co.id</p>
            </div>
            <div class="list-layanan">
                <p class="kantor">Produk & Layanan</p>
                <p>Express</p>
                <p>Reguler</p>
            </div>
            <div class="app">
                <div class="img-app1" style="background: url(img/googleplay.jpg); background-size: cover"></div>
                <div class="img-app2" style="background: url(img/appstore.jpg); background-size: cover"></div>
                <div class="img-app3" style="background: url(img/appgalery.jpg); background-size: cover"></div>
            </div>
            <div class="hold-us">
                <i class="fab fa-youtube"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
            </div>

        </div>
        <div class="box-child">
            <p>Kebijakan Privasi dan Keamanan</p>
            <p>Copyright © 2021 YFA Express. All Rights Reserved.</p>
        </div>
    </div>
</footer>