<!DOCTYPE html>
<html layout:decorate="~{base2}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="add-style">
    <link rel="stylesheet" href="css/style2.css">
</th:block>

<div class="row card-row" layout:fragment="content-body">
    <div class="card card-service" style="width: 18rem;">
        <img class="card-img-top" src="img/3.jpg" alt="Card image cap">
        <div class="image-row">
            <div class="image-col text-center">
                <p>rG</p>
            </div>
        </div>
        <div class="card-body justify-content-center">
            <div class="card-body-content" style="padding-top: 10px; padding-left: 15px">
                <div style="margin-bottom: -10px">
                    <i class="fa fa-stopwatch"></i>
                    <p>Estimasi waktu pengiriman : 2-3 hari</p>
                </div>
                <div>
                    <i class="fa fa-dolly"></i>
                    <p>Seluruh Indonesia</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-service" style="width: 18rem;">
        <img class="card-img-top" src="img/3.jpg" alt="Card image cap">
        <div class="image-row">
            <div class="image-col img-col-tengah text-center">
                <p>eX</p>
            </div>
        </div>
        <div class="card-body justify-content-center">
            <div class="card-body-content" style="padding-top: 10px; padding-left: 15px">
                <div style="margin-bottom: -10px">
                    <i class="fa fa-stopwatch"></i>
                    <p>Estimasi waktu pengiriman : 1-2 hari</p>
                </div>
                <div>
                    <i class="fa fa-dolly"></i>
                    <p>Seluruh Indonesia</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-service" style="width: 18rem;">
        <img class="card-img-top" src="img/3.jpg" alt="Card image cap">
        <div class="image-row">
            <div class="image-col text-center">
                <p>EX</p>
            </div>
        </div>
        <div class="card-body justify-content-center">
            <div class="card-body-content" style="padding-top: 10px; padding-left: 15px">
                <div style="margin-bottom: -10px">
                    <i class="fa fa-stopwatch"></i>
                    <p>Estimasi waktu pengiriman : 5-14 hari</p>
                </div>
                <div>
                    <i class="fa fa-dolly"></i>
                    <p>Seluruh Indonesia</p>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="add-script">
    <!-- script animasi -->
    <script>
        // navbar
        $(window).scroll(function () {
            var wScroll = $(this).scrollTop()
            var height = $('.jumbotron').outerHeight()
            var navHeight = $('.navbar').outerHeight()
            var width = $(this).width()

            // docked navbar
            if (width<992) {
                if (wScroll>height) {
                    $('.navbar').css({
                        'position' : 'fixed',
                        'top' : 0,
                        'left' : 0,
                        'right' : 0,
                    })
                    $('.card-row').css({
                        'margin-top' : navHeight
                    })
                } else {
                    $('.navbar').css({
                        'position' : 'static'
                    })
                    $('.card-row').css({
                        'margin-top' : 0
                    })
                }
            } else if (width>992) {
                if (wScroll>height-navHeight) {
                    $('.navbar').css({
                        'position' : 'fixed',
                        'top' : navHeight,
                        'left' : 0,
                        'right' : 0,
                    })
                } else {
                    $('.navbar').css({
                        'position' : 'static'
                    })
                }
            }

            // card fade animation
            if (wScroll>height/2) {
                $('.card-service').each(function(i) {
                    setTimeout(function() {
                        $('.card-service').eq(i).addClass('muncul')
                    }, i*300)
                })
            }
        });

        // dropdown animation
        $('#navbarDropdown').click(function() {
            $('.dropdown-menu').slideToggle(600)
        })
        $('#content-body, .dropdown-item').click(function () {
            $('.dropdown-menu').slideUp(600)
        })

        // auto go to middle after load page
        $(document).ready(function () {
            $('html, body').animate({
                scrollTop: $('#content-body').offset().top + 40
            }, 1500, 'easeOutCubic');
        });

        // modal form input animation
        $(".txtb input").on("focus",function(){
            $(this).addClass("focus");
        });
        $(".txtb input").on("blur",function(){
            if($(this).val() == "")
                $(this).removeClass("focus");
        });

        //form login change
        $(document).on('click', '.col-telp', function() {
            $('.col-email').removeClass('on')
            $(this).addClass('on')
            $('.txtb-tel').css({
                'display' : 'block'
            })
            $('.txtb-email').css({
                'display' : 'none'
            })
        })
        $(document).on('click', '.col-email', function() {
            $('.col-telp').removeClass('on')
            $(this).addClass('on')
            $('.txtb-email').css({
                'display' : 'block'
            })
            $('.txtb-tel').css({
                'display' : 'none'
            })
        })
    </script>
    <!-- script action -->
    <script>
        //login
        $('.login').click(function () {
            $('#modal-login').modal('show')
        })
        $('.forget-pass').click(function () {
            $('#modal-login').modal('hide')
            $('#modal-forgot').modal('show')
        })

        //sign-up
        $('.sign-up').click(function () {
            $('#modal-login').modal('hide')
            $('#modal-signup').modal('show')
        })
        $('.back').click(function () {
            $('#modal-signup').modal('hide')
            $('#modal-login').modal('show')
        })
    </script>
</th:block>