<!DOCTYPE html>
<html layout:decorate="~{base3}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="add-style">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/utama.css">
</th:block>

<div layout:fragment="content-body" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="row fitur-wrapper title-wrapper">
        <div class="col-md-12 text-center">
            <p>FITUR</p>
        </div>
    </div>

    <!-- fitur-slider   -->


    <!-- mitra slider -->


</div>
<!-- Modal Login -->
<div class="modal effect" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content-login">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-masuk">Masuk</h5>
                <div class="cls text-center" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <form class="login-form" th:action="@{/login}" method="post">
                <div class="modal-body">
                    <!-- error message -->
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid username or
                            password.</div>
                    </div>
                    <!-- logout message -->
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">You have been logged out.</div>
                    </div>
                    <div class="form-group">
                        <input type="text" id="username" name="username" class="form-control" required >
                        <span data-placeholder="User Name/Email"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" class="form-control" required>
                        <span data-placeholder="Password"></span>
                    </div>
                    <div class="row login-row about-password">
                        <span class="forget-pass">Lupa kata sandi?</span>
                        <div class="remember-pass">
                            <input type="checkbox">
                            <label>ingat kata sandi</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer footer-login">
                    <div class="container" style="position: relative">
                        <div class="row justify-content-center">
                            <button type="submit" name="login-submit" id="login-submit"
                                    class="btn btn-primary tombol" value="Log In">Login</button>
                        </div>
                        <div class="row reg-now justify-content-center">
                            <p>Tidak ada akun? <span class="sign-up">Daftar sekarang</span></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal sign-up -->
<div class="modal effect" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content-signup">
            <div class="modal-header modal-header-signup">
                <div class="back text-center" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-arrow-left"></i></span>
                </div>
                <h5 class="modal-title" id="modal-daftar">Daftar</h5>
                <div class="cls text-center" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="modal-body">
                <form class="signup-form">
                    <div class="txtb txtb-name">
                        <input type="text" id="name" name="name" required>
                        <span data-placeholder="Nama"></span>
                    </div>
                    <div class="txtb txtb-tel2">
                        <input type="tel" id="tel2" name="tel2" required>
                        <span data-placeholder="Nomor telepon (08xxxxxxxxxx)"></span>
                    </div>
                    <div class="txtb txtb-email2">
                        <input type="email" id="email2" name="email2" required>
                        <span data-placeholder="Email"></span>
                    </div>
                    <div class="txtb">
                        <input type="password" id="pass2" name="pass2" required>
                        <span data-placeholder="Password"></span>
                    </div>
                    <div class="txtb">
                        <input type="password" id="pass3" name="pass3" required>
                        <span data-placeholder="Konfirmasi password"></span>
                    </div>
                    <div class="row signup-row">
                        <div class="privasi">
                            <input type="checkbox" id="agree" name="agree" value="Y" required>
                            <p>Saya sudah membaca, mengerti dan menyetujui <a href="">【Syarat dan Ketentuan YFA Express】</a> dan <a href="">【Ketentuan privasi】</a></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer footer-login">
                <div class="container" style="position: relative">
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-primary tombol">Konfirmasi Pendaftaran</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="add-script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <script>
        // modal form input animation
        $(".txtb input").on("focus",function(){
            $(this).addClass("focus");
        });
        $(".txtb input").on("blur",function(){
            if($(this).val() == "")
                $(this).removeClass("focus");
        });

        //form login change
        $(document).on('click', '.col-telp', function() {
            $('.col-email').removeClass('on')
            $(this).addClass('on')
            $('.txtb-tel').css({
                'display' : 'block'
            })
            $('.txtb-email').css({
                'display' : 'none'
            })
        })
        $(document).on('click', '.col-email', function() {
            $('.col-telp').removeClass('on')
            $(this).addClass('on')
            $('.txtb-email').css({
                'display' : 'block'
            })
            $('.txtb-tel').css({
                'display' : 'none'
            })
        })
    </script>
    <!-- script action -->
    <script>
        //login
        $('.login').click(function () {
            $('#modal-login').modal('show')
        })
        $('.forget-pass').click(function () {
            $('#modal-login').modal('hide')
            $('#modal-forgot').modal('show')
        })

        //sign-up
        $('.sign-up').click(function () {
            $('#modal-login').modal('hide')
            $('#modal-signup').modal('show')
        })
        $('.back').click(function () {
            $('#modal-signup').modal('hide')
            $('#modal-login').modal('show')
        })
    </script>
</th:block>

