.berat-barang {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-tambah {
  width: 30%;
  background: #133671;
}

div.dataTables_wrapper div.dataTables_filter input {
  width: 100px;
}

@media (min-width: 717px) {
  .row-berat-barang {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

}

@media (min-width: 992px) {
  div.dataTables_wrapper div.dataTables_filter input {
    width: auto;
  }
}



