html {
  font-family: Helvetica;
}

body {
  background-color: #fff;
  font-size: 14px;
}

/* navigasi */
.search-by {
  display: flex;
  justify-content: center;
  position: relative;
}

.lacak-paket, .cek-tarif {
  background-color: #ececec;
  width: 100px;
  height: 25px;
  font-size: 11px;
  text-align: center;
  line-height: 25px;
  color: #333;
  cursor: context-menu;
}

.lacak-paket {
  border-right: .5px solid #fff;
  background-color: rgba(30, 171, 255, 1);
  color: #fff;
}

.form-cek-tarif {
  display: none;
}

@media (min-width: 450px) {
  .lacak-paket, .cek-tarif {
    width: 150px;
    height: 37px;
    line-height: 37px;
    font-size: 14px;
  }

}


/* search */
.search {
  box-shadow: 0 2px 12px 2px #ddd;
  border-radius: 5px;
  margin-top: 35px;
  padding: 0;
  height: 30px;
  display: flex;
  justify-content: center;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 0 5px 10px;
}

.search i {
  margin-top: 8px;
  margin-right: 10px;
  margin-left: 15px;
  color: #cfcece;
}

.tombol-search {
  padding: 0;
  height: 30px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tombol-search button {
  width: 80px;
  line-height: 10px;
  font-size: 14px;
  background-color: rgba(30, 171, 255, 1);
}

@media (min-width: 992px) {
  .form-lacak-paket {
    width: 700px;
  }

  .container-form {
    display: flex;
    justify-content: center;
  }
}

/* background lacak */
.col-gambar-lacak {
  margin-top: 80px;
}

.col-gambar-lacak img {
  width: 100%;
}


/* tabel cek-resi */
.table-resi {
  margin-top: 70px;
  display: none;
}

table {
  font-size: 12px;
}

.table-resi th {
  background-color: #133671;
  color: #fff;
}

.table-2 {
  margin-top: 50px;
}


/* alert */
.row-alert {
  width: 100%;
  position: fixed;
  top: 50%;
  z-index: 10;
  display: none;
}

.alert {
  width: 200px;
  height: 45px;
  border-radius: 7px;
  background: rgba(255,255,255,.5);
  border: 1px solid #133671;
  padding: 0;
  line-height: 45px;
  text-align: center;
  color: #133671;
  font-size: 13px;
  margin: auto;
}

.emot {
  margin-right: 10px;
  display: inline-block;
}

.alert i {
  font-size: 20px;
  color: #133671;
}





