a, a:hover {
  text-decoration: none;
}

/* body */
body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #F5F5F5;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* jumbotron */
.jumbotron {
  margin-bottom: 0;
  background-size: cover;
  min-height: 20%;
  position: relative;
}

.jumbotron::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(30,171,255,1), rgba(30,171,255,.0) 60%);
  position: absolute;
  top: 0;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
  color: white;
}

/* navbar */
.navbar {
  z-index: 2;
  background-color: rgba(0,0,0,.5);
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 1);
}

.navbar-toggler-icon {
  background-image: none !important;
  padding: 5px;
}

.fa-bars {
  color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: center;
}

.nav-menu a {
  display: block;
}

.nav-menu i {
  margin-right: 5px;
  color: #fff;
  padding-top: 13px;
}

.login, .reg-now span{
  cursor: pointer;
}

a.nav-link, .login {
  color: #fff !important;
  font-weight: bold;
}

.login:hover, .nav-menu:hover i,
.nav-menu:hover a, .nav-link:hover {
  color: rgba(30,171,255,1) !important;

}

a.nav-link:active, .login:active {
  color: rgba(30,171,255,1) !important;
}

.dropdown-menu {
  background-color: rgba(0,0,0,0);
  border: none;
}

.dropdown-item {
  color: #fff;
}



/* modal login */
.effect {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}

.effect.show {
  opacity: 1;
  transform: scale(1);
}

.modal-header, .modal-header-signup {
  display: block;
  text-align: center;
}

.cls {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 25px;
  border-radius: 50%;
  box-shadow: 0 0 10px 1px rgba(0,0,0,.3);
  cursor: pointer;
}

.login-row {
  display: flex;
  justify-content: center;
  margin: 0 4px 30px 4px;
}

.login-col {
  position: relative;
  z-index: 1;
  font-size: 15px;
  text-align: center;
  width: 130px;
  line-height: 15px;
  padding-bottom: 6px;
  border-bottom: 2px solid #aaa;
  cursor: pointer;
}

.col-telp {
  padding-top: 7px;
}

.on {
  border-bottom: solid 2px rgba(30,171,255,1) ;
  color: rgba(30,171,255,1);
}

.txtb{
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 20px 4px;
}

.txtb input{
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before{
  content: attr(data-placeholder);
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  /*z-index: -1;*/
  transition: .5s;
}

.txtb span::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg,#3498db,#8e44ad);
  transition: .5s;
}

.focus + span::before{
  top: -5px;
  font-size: 13px;
  color: rgba(30,171,255,1) ;
}
.focus + span::after{
  width: 100%;
}

.about-password {
  justify-content: space-between;
  margin-top: -15px;
  font-size: 13px;
}

.about-password span {
  color: rgba(30,171,255,1);
  cursor: pointer;
}

.footer-login {
  display: block;
  border-top: none;
  margin-top: -45px;
}

.tombol {
  border-radius: 20px;
}

.tombol:hover {
  background-color: #133671;
}

.reg-now {
  margin-top: 10px;
  font-size: 13px;
}

.reg-now span, .privasi a {
  color: rgba(30,171,255,1);
}

/* modal signup*/
.signup-form {
  margin-top: -15px;
}

.signup-row {
  margin: 0 4px 30px 4px;
}

.modal-header-signup {
  padding: 7px 0;
}

.privasi {
  margin-top: 0;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.privasi p {
  font-size: 14px;
  width: 80%;
  position: absolute;
  left: 25px;
  top: 0;
}

.back {
  position: absolute;
  left: 10px;
  top: 8px;
  width: 25px;
  border-radius: 50%;
  box-shadow: 0 0 10px 1px rgba(0,0,0,.3);
  cursor: pointer;
}


/* desktp version*/
@media (min-width: 992px) {

  /* Jumbotron */
  .jumbotron{
    min-height: 450px;
    background-attachment: fixed;
    z-index: -1;
  }

  /* navbar */
  .navbar {
    margin-top: -56px;
  }

  .nav-menu {
    margin-right: 15px;
  }

  .nav-menu i {
    margin-right: -5px;
  }

  .dropdown-menu {
    background-color: rgba(0,0,0,.5);
    margin-top: 10px;
  }
}


@media (min-width: 460px) {
  /* modal login */
  .modal-content-login {
    width: 450px !important;
  }

  .modal-content-signup {
    margin-top: -40px;
  }

  .login-col {
    width: 200px;
  }

  .col-telp {
    padding-top: 0;
  }
}

