a, a:hover {
  text-decoration: none;
}

/* body */
body::-webkit-scrollbar {
  /*display: none;*/
  width: 4px;
  height: 4px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  background: rgba(30, 171, 255, 1);
}

body {
  background-color: #F5F5F5;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* jumbotron */
.jumbotron {
  margin-bottom: 0;
  background-size: cover;
  min-height: 20%;
  position: relative;
}

.jumbotron::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(30,171,255,1), rgba(30,171,255,.0) 60%);
  position: absolute;
  top: 0;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
  color: white;
}

.jumbotron .card-row {
  z-index: 10;
  color: #fff;
}

.jumbotron .card-row h1, .jumbotron .card-row p {
  text-shadow: 1px 2px 5px rgba(0, 0, 0, .57);
}

.jumbotron .card-row h1 {
  font-weight: bold;
}

@media (max-width: 635px) {
  .jumbotron .card-row {
    margin-top: 30px;
    line-height: 15px;
  }

  .jumbotron .card-row h1 {
    font-size: 30px;
  }

  .jumbotron .card-row p {
    margin-top: -10px;
    font-size: 13px;
    font-weight: lighter;
  }
}

@media (max-width: 320px) {
  .jumbotron .card-row h1 {
    font-size: 20px;
  }

  .jumbotron .card-row p {
    font-size: 10px;
  }
}

/* navbar */
.navbar {
  z-index: 2;
  background-color: rgba(0,0,0,.5);
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 1);
}

.navbar-toggler-icon {
  background-image: none !important;
  padding: 5px;
}

.fa-bars {
  color: #fff;
}

.nav-menu, .dropdown-item{
  display: flex;
  justify-content: center;
}

.nav-menu a {
  display: block;
}

.nav-menu i {
  margin-right: 5px;
  color: #fff;
  padding-top: 13px;
}

.login, .reg-now span{
  cursor: pointer;
}

a.nav-link, .login {
  color: #fff !important;
  font-weight: bold;
}

.login:hover, .menu:hover i,
.menu:hover .nav-link {
  color: rgba(30,171,255,1) !important;
}

.menu {
  cursor: pointer;
}

a.nav-link:active, .login:active {
  color: rgba(30,171,255,1) !important;
}

.dropdown-menu {
  background-color: rgba(0,0,0,0);
  border: none;
}

.dropdown-item {
  color: #fff;
}


/* desktp version*/
@media (min-width: 992px) {

  /* Jumbotron */
  .jumbotron{
    min-height: 450px;
    background-attachment: fixed;
    z-index: -1;
  }

  .jumbotron .card-row {
    margin-top: 100px;
  }

  /* navbar */
  .navbar {
    margin-top: -56px;
  }

  .nav-menu {
    margin-right: 15px;
  }

  .nav-menu i {
    margin-right: -5px;
  }

  .dropdown-menu {
    background-color: rgba(0,0,0,.5);
    margin-top: 10px;
  }
}


