/* body */
body::-webkit-scrollbar {
  display: none;
}

body, html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* navbar */
nav {
  background-color: rgba(0,0,0,.5);
  position: fixed !important;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 1);
}

.navbar-toggler-icon {
  background-image: none !important;
  padding: 5px;
}

.fa-bars {
  color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: center;
}

.nav-menu a {
  display: block;
}

.nav-menu i {
  margin-right: 5px;
  color: #fff;
  padding-top: 13px;
}

.login, .reg-now span{
  cursor: pointer;
}

a.nav-link, .login {
  color: #fff !important;
  font-weight: bold;
}

.login:hover, .nav-menu:hover i,
.nav-menu:hover a, .nav-link:hover {
  color: rgba(30,171,255,1) !important;

}

.dropdown-menu {
  background-color: rgba(0,0,0,0);
  border: none;
}

.dropdown-item {
  color: #fff;
}

/* jumbotron */
.jumbotron {
  background: url(../img/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -100px;
  position: relative;
  z-index: -1;
}

.jumbotron::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(19,54,113,1), rgba(19,54,113,0) 70%);
  position: absolute;
  top: 0;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
  color: white;
}


/* desktp version*/
@media (min-width: 992px) {
  /* jumbotron */
  .jumbotron {
    min-height: 400px;
  }

  /* navbar */
  .nav-menu {
    margin-right: 15px;
  }

  .nav-menu i {
    margin-right: -5px;
  }

  .dropdown-menu {
    background-color: rgba(0,0,0,.5);
    margin-top: 10px;
  }
}


@media (min-width: 384px) {
  /* jumbotron  */
  .jumbotron {
    background-position-y: -20px;
    background-position-x: 0;
  }
}



