<!DOCTYPE html>
<html layout:decorate="~{base2}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="add-style">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/dropoff.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</th:block>

<div class="row card-row" layout:fragment="content-body">
    <!--    FORM PENGIRIM-->
    <div class="container form-container">
        <!--        <div class="row text-center">-->
        <!--            <div class="col-12">-->
        <!--                <h3 class="mt-5">Drop Off</h3>-->
        <!--            </div>-->
        <!--        </div>-->
        <form id="formDropOff">
            <div class="row">
                <div class="col-12">
                    <div class="card card-dark">
                        <div class="card-header">
                            <h5 class="card-title">Sender Information</h5>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <!--                        <form id="form-Pengirim" role="form">-->
                        <div class="card-body">
                            <div class="container">
                                <input class="form-control" type="hidden" id="email" name="email">
                                <input id="idPengirim" name="idPengirim" type="hidden"/>
                                <div class="form-group">
                                    <label for="namaPengirim"> <i class="fa fa-user">  Name : </i></label>
                                    <input type="text" class="form-control" id="namaPengirim"
                                           name="namaPengirim" placeholder="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="telpPengirim"><i class="fas fa-phone-alt">  Phone Number : </i></label>
                                    <input type="tel" class="form-control" id="telpPengirim"
                                           name="telpPengirim" placeholder="phone number" required>
                                </div>
                                <div class="form-group">
                                    <label><i class="fas fa-search-location">  Province :</i></label>
                                    <select class="form-control js-example-responsive" id="province"
                                            name="province_id"
                                            style="width: 100%" OnChange="provinsiPengirimHidden()" required>
                                        <option value="-1">Province</option>
                                    </select>
                                    <input class="form-control" type="hidden" id="provinceName" name="provinceName">
                                </div>
                                <div class="form-group">
                                    <label><i class="fas fa-city">  Origin City :</i></label>
                                    <select class="form-control js-example-responsive" id="city_name" name="city_id"
                                            style="width: 100%" OnChange="kotaPengirimHidden()" required>
                                        <option value="-1">Origin City</option>
                                    </select>
                                    <input class="form-control" type="hidden" id="cityName" name="cityName">
                                    <input class="form-control" type="hidden" id="cityPengirimId"
                                           name="cityPengirimId">
                                </div>

                                <div class="form-group">
                                    <label for="alamatPengirim"><i class="fas fa-map-marker-alt">  Address :</i></label>
                                    <textarea type="text" class="form-control" id="alamatPengirim"
                                              name="alamatPengirim" placeholder="address"
                                              required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="kodePosPengirim"><i class="fas fa-envelope-square">  Post Code :</i></label>
                                    <input type="tel" class="form-control" id="kodePosPengirim"
                                           name="kodePosPengirim" placeholder="post code" required>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!--                        </form>-->
                    </div>
                </div>
                <!--    FORM PENERIMA-->
                <div class="col-12">
                    <div class="card card-dark">
                        <div class="card-header">
                            <h5 class="card-title">Recipient Information</h5>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <!--                        <form id="form-Penerima" role="form">-->
                        <div class="card-body">
                            <div class="container">
                                <input id="idPenerima" name="idPenerima" type="hidden"/>
                                <div class="form-group">
                                    <label for="namaPenerima"><i class="fa fa-user">  Name : </i></label>
                                    <input type="text" class="form-control" id="namaPenerima"
                                           name="namaPenerima" placeholder="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="telpPenerima"><i class="fas fa-phone-alt">  Phone Number : </i></label>
                                    <input type="tel" class="form-control" id="telpPenerima"
                                           name="telpPenerima" placeholder="phone number" required>
                                </div>
                                <div class="form-group">
                                    <label><i class="fas fa-search-location">  Province :</i></label>
                                    <select class="form-control js-example-responsive" id="provincepenerima"
                                            name="province_id" style="width: 100%"
                                            OnChange="provinsiPenerimaHidden()" required>
                                        <option value="-1">Province</option>
                                    </select>
                                    <input class="form-control" type="hidden" id="provinceNamePenerima"
                                           name="provinceNamePenerima">
                                    <!--                                    <input class="form-control" type="hidden" id="provincePenerimaId" name="provincePenerimaId">-->
                                </div>
                                <div class="form-group">
                                    <label><i class="fas fa-city">  Destination City :</i></label>
                                    <select class="form-control js-example-responsive" id="city_namepenerima"
                                            name="city_id" style="width: 100%" OnChange="kotaPenerimaHidden()"
                                            required>
                                        <option value="-1">Destination City</option>
                                    </select>
                                    <input class="form-control" type="hidden" id="cityNamePenerima"
                                           name="cityNamePenerima">
                                    <input class="form-control" type="hidden" id="cityPenerimaId"
                                           name="cityPenerimaId">
                                </div>
                                <div class="form-group">
                                    <label for="alamatPenerima"><i class="fas fa-map-marker-alt">  Address :</i></label>
                                    <textarea class="form-control" id="alamatPenerima"
                                              name="alamatPenerima" placeholder="address" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="kodePosPenerima"><i class="fas fa-envelope-square">  Post Code :</i></label>
                                    <input type="tel" class="form-control" id="kodePosPenerima"
                                           name="kodePosPenerima" placeholder="post code" required>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!--                        </form>-->
                    </div>
                </div>
                <!--    FORM BARANG-->
                <div class="col-12">
                    <div class="card card-dark">
                        <div class="card-header">
                            <h5 class="card-title">Package Information</h5>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <!--                        <form id="form-Barang" role="form">-->
                        <div class="card-body">
                            <div class="container">
                                <input id="idBarang" name="idBarang" type="hidden"/>
                                <div class="form-group">
                                    <label for="namaBarang"><i class="fas fa-file-signature">  Item Name :</i></label>
                                    <input type="text" class="form-control" id="namaBarang"
                                           name="namaBarang" placeholder="item name" required>
                                </div>
                                <!--                                <div class="form-group">-->
                                <!--                                    <label for="kategoriLayanan">Jenis Layanan :</label>-->
                                <!--                                    <select class="form-control" id="kategoriLayanan" name="idLayanan"></select>-->
                                <!--                                </div>-->
                                <div class="form-group">
                                    <label for="jumlahBarang"><i class="fas fa-sort-amount-up">  Quantity :</i></label>
                                    <input type="text" class="form-control" id="jumlahBarang"
                                           name="jumlahBarang" placeholder="Quantity" required>
                                </div>
                                <div class="form-group">
                                    <label for="kategoriBeratBarang"><i class="fas fa-balance-scale-right">  Overall Weight (gram):</i></label>
                                    <input type="number" class="form-control" id="kategoriBeratBarang"
                                           name="beratBarang" required>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!--                        </form>-->
                    </div>
                </div>
                <div class="col-12">
                    <div class="card-body total-biaya">
                        <div class="container">
                            <input id="idtotalBiaya" name="idtotalBiaya" type="hidden"/>
                            <div class="form-group layananajadeh">
                                <label><i class="fas fa-taxi">  Services :</i></label>
                                <select class="form-control js-example-responsive" id="layanan"
                                        name="layanan_id" style="width: 100%" OnChange="layananOngkirHidden()"
                                        required>
                                    <option value="-1">Services</option>
                                </select>
                                <input class="form-control" type="hidden" id="kategoriLayanan"
                                       name="kategoriLayanan">
                            </div>
                            <div class="form-group ongkirajadeh">
                                <label><i class="fas fa-search-dollar">  Total Fee :</i></label>
                                <p>Rp. <span id="ongkosKirimSpan">0</span></p>
                                <input class="form-control" type="hidden" id="ongkosKirim"
                                       name="ongkosKirim">
                                <input class="form-control" type="hidden" id="statusDelivery"
                                       name="statusDelivery" value="undelivered">
                                <input class="form-control" type="hidden" id="penerimaPaket"
                                       name="penerimaPaket" value="penerima">
                                <input class="form-control" type="hidden" id="fotoPenerima"
                                       name="fotoPenerima" value="penerima.jpg">
                            </div>
                        </div>
                        <!--    button save-->
                        <div class="row button-order">
                            <div class="order-click">
                                <button class="btn btn-success cek1" id="btn-cekharga" type="button">Cek Harga</button>
                                <button class="btn btn-primary cek2" id="btn-save-utama" type="button">Order</button>
                                <button class="btn btn-danger cek3" id="btn-reset" type="button">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <!-- modal sukses order -->
    <div class="modal effect" id="modal-sukses" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-content-signup">
                <div class="modal-body">
                    <p>Order Berhasil Silahkan Cek Transaksi Anda di Informasi Pribadi </p>
                </div>
                <div class="modal-footer footer-login">
                    <div class="container" style="position: relative">
                        <div class="row justify-content-center">
                            <button type="button" id="oke" class="btn btn-success">Okee</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="add-script">
    <script th:src="@{/js/parsley.min.js}"></script>
    <script th:src="@{/js/default.js}"></script>
    <script th:src="@{/js/dropoff.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $('.js-example-responsive').select2({
            width: 'resolve',
        });


        $('#btn-cekharga').click(function () {
            let asal = $("#cityPengirimId").val();
            let tujuan = $("#cityPenerimaId").val();
            let berat = $("#kategoriBeratBarang").val();
            dropdown.pilihLayanan(asal, tujuan, berat);
            $('.layananajadeh, .ongkirajadeh, #btn-save-utama').css({
                "display": "block"
            })
            $(".total-biaya").css({
                "height": "230px"
            })
        })
    </script>


    <!-- action transaksi -->
    <script>
        tableBarang.create();

        $('#btn-save-utama').click(function () {
            formDropOff.saveForm()
        });
        $('#oke').click(function () {
            $('#modal-sukses').modal("hide")
        })

        dropdown.pilihLayanan();
        dropdown.pilihProvinsi();
        dropdown.pilihProvinsiPenerima();
    </script>

    <script>
        function getEmail() {
            $.ajax({
                url: '/registration/username',
                method: 'get',
                contentType: 'application/json',
                dataType: 'json',
                success: function (res) {
                    $('#email').val(res.email);
                },
                erorrr: function (err) {
                    console.log(err);
                }
            });
        }

        function provinsiPengirimHidden() {
            let provinsi = document.getElementById("select2-province-container").title;
            document.getElementById("provinceName").value = provinsi;
            let idProvinsi = document.getElementById("province").value;
            $.ajax({
                type: "GET",
                url: "/api/kotaRaja/" + idProvinsi,
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    var s = '<option value="-1">Origin City</option>';
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].type == 'Kabupaten') {
                            s += '<option value="' + data[i].city_id + '">' + data[i].city_name + '</option>';
                        } else {
                            s += '<option value="' + data[i].city_id + '">' + data[i].city_name + " (" + data[i].type + ")" + '</option>';
                        }
                    }
                    $("#city_name").html(s);
                }
            });
        }

        function kotaPengirimHidden() {
            let kota = document.getElementById("select2-city_name-container").title;
            let idKota = document.getElementById("city_name").value;
            document.getElementById("cityName").value = kota;
            document.getElementById("cityPengirimId").value = idKota;
        }

        function provinsiPenerimaHidden() {
            let provinsi = document.getElementById("select2-provincepenerima-container").title;
            document.getElementById("provinceNamePenerima").value = provinsi;
            let idProvinsi = document.getElementById("provincepenerima").value;
            $.ajax({
                type: "GET",
                url: "/api/kotaRaja/" + idProvinsi,
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    var s = '<option value="-1">Destination City</option>';
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].type == 'Kabupaten') {
                            s += '<option value="' + data[i].city_id + '">' + data[i].city_name + '</option>';
                        } else {
                            s += '<option value="' + data[i].city_id + '">' + data[i].city_name + " (" + data[i].type + ")" + '</option>';
                        }
                    }
                    $("#city_namepenerima").html(s);
                }
            });
        }

        function kotaPenerimaHidden() {
            let kota = document.getElementById("select2-city_namepenerima-container").title;
            let idKota = document.getElementById("city_namepenerima").value;
            document.getElementById("cityNamePenerima").value = kota;
            document.getElementById("cityPenerimaId").value = idKota;
        }

        function layananOngkirHidden() {
            let layanan = document.getElementById("select2-layanan-container").title;
            let ongkir = document.getElementById("layanan").value;
            document.getElementById("kategoriLayanan").value = layanan;
            document.getElementById("ongkosKirim").value = ongkir;
            document.getElementById("ongkosKirimSpan").innerHTML = ongkir;

        }
    </script>

    <!-- script animasi -->
    <script>
        // dropdown table
        $('.card-header>i').click(function () {
            if ($(this).css("transform") == 'none') {
                $(this).css("transform", "rotate(180deg)");
                $(this).parents('.card-header').next('.card-body').hide(200)
            } else {
                $(this).css("transform", "");
                $(this).parents('.card-header').next('.card-body').show(200)
            }
        })
    </script>
</th:block>
