<!DOCTYPE html>
<html layout:decorate="~{base2}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="add-style">
    <link rel="stylesheet" href="/css/FE-layanan.css">
    <style>
        .row {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    </style>
</th:block>

<!-- JUMBOTRON -->
<div class="row card-row" layout:fragment="content-jumbotron">
    <h1 class="display-4">Layanan</h1>
</div>

<div class="row card-row" layout:fragment="content-body">
    <div class="card card-service" style="width: 18rem;">
        <img class="card-img-top" src="img/3.jpg" alt="Card image cap">
        <div class="image-row">
            <div class="image-col text-center">
                <p>oK</p>
            </div>
        </div>
        <div class="card-body justify-content-center">
            <div class="card-body-content" style="padding-top: 10px; padding-left: 15px">
                <div style="margin-bottom: -10px">
                    <i class="fa fa-stopwatch"></i>
                    <p>Estimasi waktu pengiriman : 2-3 hari</p>
                </div>
                <div>
                    <i class="fa fa-dolly"></i>
                    <p>Seluruh Indonesia</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-service" style="width: 18rem;">
        <img class="card-img-top" src="img/3.jpg" alt="Card image cap">
        <div class="image-row">
            <div class="image-col img-col-tengah text-center">
                <p>Ys</p>
            </div>
        </div>
        <div class="card-body justify-content-center">
            <div class="card-body-content" style="padding-top: 10px; padding-left: 15px">
                <div style="margin-bottom: -10px">
                    <i class="fa fa-stopwatch"></i>
                    <p>Estimasi waktu pengiriman : 1-2 hari</p>
                </div>
                <div>
                    <i class="fa fa-dolly"></i>
                    <p>Seluruh Indonesia</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-service" style="width: 18rem;">
        <img class="card-img-top" src="img/3.jpg" alt="Card image cap">
        <div class="image-row">
            <div class="image-col text-center">
                <p>rG</p>
            </div>
        </div>
        <div class="card-body justify-content-center">
            <div class="card-body-content" style="padding-top: 10px; padding-left: 15px">
                <div style="margin-bottom: -10px">
                    <i class="fa fa-stopwatch"></i>
                    <p>Estimasi waktu pengiriman : 5-14 hari</p>
                </div>
                <div>
                    <i class="fa fa-dolly"></i>
                    <p>Seluruh Indonesia</p>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="add-script">
    <script th:src="@{/js/login.js}"></script>
    <!-- script animasi -->
    <script>
        // card fade animation
        $(window).scroll(function () {
            var wScroll = $(this).scrollTop()
            var height = $('.jumbotron').outerHeight()

            if (wScroll>height/2) {
                $('.card-service').each(function(i) {
                    setTimeout(function() {
                        $('.card-service').eq(i).addClass('muncul')
                    }, i*300)
                })
            }
        });

        // modal form input animation
        $(".txtb input").on("focus",function(){
            $(this).addClass("focus");
        });
        $(".txtb input").on("blur",function(){
            if($(this).val() == "")
                $(this).removeClass("focus");
        });

        //form login change
        $(document).on('click', '.col-telp', function() {
            $('.col-email').removeClass('on')
            $(this).addClass('on')
            $('.txtb-tel').css({
                'display' : 'block'
            })
            $('.txtb-email').css({
                'display' : 'none'
            })
        })
        $(document).on('click', '.col-email', function() {
            $('.col-telp').removeClass('on')
            $(this).addClass('on')
            $('.txtb-email').css({
                'display' : 'block'
            })
            $('.txtb-tel').css({
                'display' : 'none'
            })
        })
    </script>
</th:block>
