<!DOCTYPE html>
<html layout:decorate="~{base2}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="add-style">
    <!--    LETAK STYLE CSS-->
    <link rel="stylesheet" href="css/panduan.css">
</th:block>

<!-- JUMBOTRON -->
<div class="row card-row" layout:fragment="content-jumbotron">
    <h1 class="display-4">Panduan Paket</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
</div>

<div class="row card-row" layout:fragment="content-body">
    <!--LETAK KONTEN DISINIIII-->
    <div class="container text-justify p-5">
        <div class="row">
            <div class="col-md-4">
                <div class="kolomatas">
                    <h4 class="text-center">Cara Penempelan Label Pengiriman</h4>
                </div>
                <div class="kolombawah">
                    <p>
                        Jika pengirim menempelkan label pengiriman dari platform e-commerce,
                        pastikan label pengirman di tempel pada permukaan yang rata, tidak terlipat dan tidak
                        mengelembung.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="kolomatas">
                    <h4 class="text-center">Cara Packing Barang Besar dan Panjang</h4>
                </div>
                <div class="kolombawah">
                    <p>
                        Setiap barang yang dikirimkan pastikan memiliki kemasan luar atau kemasan commecial,
                        Lapisi barang dengan bubble wrap 3 sampai 5 layer disesuaikan dengan kerentanan paket,
                        Lakban dengan padat untuk menghindari goncangan yang dapat menimbulkan kerusakan isi paket.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="kolomatas">
                    <h4 class="text-center">Cara Packing Barang Elektronik</h4>
                </div>
                <div class="kolombawah">
                    <p>
                        Setiap barang yang dikirimkan pastikan memiliki kemasan luar atau kemasan commecial,
                        Lapisi barang dengan bubble wrap, Sisipkan PE Foam di setiap sisi kardus untuk peredeam
                        benturan,
                        Pastikan ukuran barang sesuai dengan ukuran kardus
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="kolomatas">
                    <h4 class="text-center">Cara Penempelan Lakban</h4>
                </div>
                <div class="kolombawah">
                    <p>
                        Packing perlu dilakban dengan bentuk "#",
                        Pastikan bahwa lakban tertempel secara erat dan tidak mengelembung
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="kolomatas">
                    <h4 class="text-center">Cara Packing Untuk Barang Cairan dan Pecah Belah</h4>
                </div>
                <div class="kolombawah">
                    <p>
                        Pastikan barang dikemas menggunakan kardus,
                        Lapisi barang dengan bubble wrap 3-5 layer disesuaikan dengan kerentanan paket,
                        Sisipkan PE Foam di setiap sisi kardus untuk peredeam benturan,
                        Pastikan ukuran barang sesuai dengan ukuran kardus
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="kolomatas">
                    <h4 class="text-center">Informasi Ukuran Paket</h4>
                </div>
                <div class="kolombawah">
                    <p>
                        Ukuran paket harus lebih besar dari resi elektronik J&T Express (24 cm x 15 cm)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="add-script">
    <!--LETAK SCRIPT DISINII-->
    <!--JS ISI-->
    <script th:src="@{/js/default.js}"></script>
    <script th:src="@{/js/parsley.min.js}"></script>
    <script th:src="@{/js/login.js}"></script>
    <!--    <script th:src="@{/js/kurir.js}"></script>     SKRIP AJAX    -->

</th:block>